services:
  traefik:
    image: traefik:v3.6
    container_name: traefik
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./traefik.yaml:/traefik.yaml:ro
      - ./data/acme.json:/acme.json
    environment:
      - EMAIL=${EMAIL}
    networks:
      - web-traffic

networks:
  web-traffic:
    external: true
